body,
html {
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
    -webkit-overscroll-behavior: none
}

#wrap {
    box-sizing: border-box;
    height: 100%;
    overscroll-behavior: none;
    -webkit-overscroll-behavior: none;
    padding: 0
}

#console {
    background: #000;
    border: 0;
    box-sizing: border-box;
    caret-color: #fff;
    color: #fff;
    font-family: monospace;
    font-size: 17px;
    font-weight: 600;
    height: 100%;
    line-height: 1.3;
    margin: 0;
    outline: none;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 6px 8px;
    resize: none;
    scrollbar-width: none;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word
}

#console::-webkit-scrollbar {
    display: none
}

.mobile-device #console {
    -webkit-overflow-scrolling: touch;
    height: 100vh;
    height: 100dvh;
    max-height: 100dvh;
    min-height: 100dvh;
    overscroll-behavior: none;
    -webkit-overscroll-behavior: none;
    scrollbar-width: none
}

.mobile-device #console::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0
}

.mobile-device #wrap {
    height: 100vh;
    height: 100dvh;
    max-height: 100dvh;
    min-height: 100dvh;
    overflow: hidden
}

.mobile-device body,
.mobile-device html {
    height: 100vh;
    height: 100dvh;
    max-height: 100dvh;
    min-height: 100dvh;
    overflow: hidden
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: none !important
    }
    ::-webkit-scrollbar {
        display: none !important;
        height: 0 !important;
        width: 0 !important
    }
    ::-webkit-scrollbar-corner,
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-track {
        display: none !important
    }
}