@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap");
@font-face {
    font-display: swap;
    font-family: Tahoma;
    font-style: normal;
    font-weight: 400;
    src: url(../../assets/fonts/tahoma.woff2) format("woff2"), url(../../assets/fonts/tahoma.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Tahoma;
    font-style: normal;
    font-weight: 700;
    src: url(../../assets/fonts/tahomabd.woff2) format("woff2"), url(../../assets/fonts/tahomabd.woff) format("woff")
}