*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html {
    font-size: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 11px;
    height: 100%;
    line-height: 1.5;
    overflow: hidden;
    width: 100%
}

ol,
ul {
    list-style: none
}

img,
svg {
    height: auto;
    max-width: 100%;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,
input,
select,
textarea {
    font-size: 11px;
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important
}

a {
    color: inherit;
    text-decoration: none
}

* {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important
}

:root {
    --z-base: 1;
    --z-window: 100;
    --z-taskbar: 500;
    --z-tooltip: 1000;
    --z-startmenu: 1500;
    color-scheme: light only
}

#windows-container {
    position: absolute;
    z-index: 100
}