body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #C0C0C0;
}

.window {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#paint-iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}