body,
html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none
}

body {
    background: #97958f;
    color: #000;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 11px;
    overflow: hidden
}

.app-root {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding: 8px;
    width: 100%
}

.mobile-device .app-root {
    padding: 8px
}

.mobile-device .resume-image.zoomed {
    width: 190%
}

@media (min-width:768px) {
    .maximized-mode.app-root {
        padding: 16px 0
    }
}

.resume-image {
    box-sizing: content-box;
    cursor: zoom-in;
    display: block;
    height: auto;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    transition: max-width .2s, max-height .2s, width .2s, height .2s;
    width: auto
}

.resume-image.zoomed {
    cursor: zoom-out;
    height: auto;
    max-height: none;
    max-width: none;
    width: 175%
}

@media (min-width:700px) {
    .resume-image.zoomed {
        max-width: 98vw;
        width: 1200px
    }
}

.resume-image.dragging {
    cursor: grabbing
}

.maximized-mode .resume-image:not(.zoomed) {
    display: block;
    height: 100%;
    margin-bottom: 0;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: auto
}

.app-root,
.resume-image,
body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none
}

input,
textarea {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text
}

.resizing-window .app-root,
.resizing-window .resume-image {
    pointer-events: none !important
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: none !important
    }

    ::-webkit-scrollbar {
        display: none !important;
        height: 0 !important;
        width: 0 !important
    }

    ::-webkit-scrollbar-corner,
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-track {
        display: none !important
    }
}